@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@300&display=swap');

@font-face {
    font-family: 'JetBrains Mono', monospace;
    src: url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@300&display=swap');
}

#background {
    background-color: #2b2b34;
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: -1;
}

.center {
    margin: 4% 0% 0% 20%;
    display: flex;
}

.build-profile {
    margin: 0% 5%;
    display: flex;
    width: 30%;
    text-align: center;
    
}

#responsive {
    font-size: 2vw;
    font-family: Jet;
}